{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
        <!----PRESENTATION------>
        <div class="tt-welcomeTo">
            <video autoplay muted src="/assets/videos/film-homePage.mp4" loop poster="vignette.jpg" id="test-video">
            </video>
            <img src="/assets/images/welcome-logo1.png" id="tt-logoWelcome">
        </div>
        <div class="tt-text-test1">
            <div class="tt-conceptText">
                <h2>WHAT'S TRAVELER TIPS ? </h2>
                <p>Des spots saturés, pollués, bruyants, et tout ça car nous préparons tous nos voyages à l’aide des mêmes ressources (blog de voyages, guides touristiques, instagram...) et nous concentrons donc aux mêmes endroits.
                    Notre idée, une plateforme où les travelers du monde entier peuvent partager leurs tips & leurs spots secrets et ainsi sortir des sentiers touristiques.
                    Vos plus belles vagues, vos meilleurs bar à concert, meilleurs food market ou encore vos + beaux viewpoint, ici on partage en quelques mots des endroits encore épargné par le tourisme de masse et qui mérteraient d’être connu ... mais CHUT !</p>
            </div>
            <div class="tt-historyText">
                <h2>OUR HISTORY</h2>
                <p>Des spots saturés, pollués, bruyants, et tout ça car nous préparons tous nos voyages à l’aide des mêmes ressources (blog de voyages, guides touristiques, instagram...) et nous concentrons donc aux mêmes endroits.
                    Notre idée, une plateforme où les travelers du monde entier peuvent partager leurs tips & leurs spots secrets et ainsi sortir des sentiers touristiques.

                    Vos plus belles vagues, vos meilleurs bar à concert, meilleurs food market ou encore vos + beaux viewpoint, ici on partage en quelques mots des endroits encore épargné par le tourisme de masse et qui mérteraient d’être connu ... mais CHUT ! </p>
            </div>
        </div>
        <!----END OF PRESENTATION------>

        <!----INSCRIPTION / CONNECTION------>
        <div class="tt-container-logHome">
            <img src="/assets/images/Rectangle97.png">
            <section class="tt-register-login-homePage">
                <div class="tt-registrationForm-homePage">
                    <h3>CONNEXION</h3>
                </div>
                <div class="tt-loginForm-homePage">
                    <h3>INSCRIPTION</h3>
                </div>
            </section>
            <img src="/assets/images/Rectangle99.png">
        </div>
        <!----END OF INSCRIPTION / CONNECTION------>
        <!---    CATEGORIES         ----->
        <div style="display: flex; justify-content: center">
            <img class="tt-component-categories" src="/assets/images/Component-Categories.png">
        </div>
        <div class="tt-catHomePage">
            <div class="div1">
                <h2 class="tt-title-cardsCategories-rectangle">STREET ART</h2>
            </div>
            <div class="div2">
                <h2 class="tt-title-cardsCategories-rectangle">SUNSET</h2>
            </div>
            <div class="div3">
                <h2 class="tt-title-cardsCategories-carre">GLISSE</h2>
            </div>
            <div class="div4">
                <h2 class="tt-title-cardsCategories-carre">FOOD</h2>
            </div>
            <div class="div5">
                <h2 class="tt-title-cardsCategories-rectangle">REGGAE BAR</h2>
            </div>
            <div class="div6">
                <h2 class="tt-title-cardsCategories-rectangle">INCONTOURNABLES</h2>
            </div>
        </div>
        <!------SMALL TIPS CARD-------->
        <div class="tt-container-titleCategories">
            <img src="/assets/images/Component-tips-homePage.png" style="width:40vw; height:30vh; margin-top:5%">
            <div class="rectangle-3D-tips">
                <div class="carre-3D-tips">
                    <div class="cercle-tips"></div>
                    <div style="margin-top:-30%">
                        <p>USER</p>
                        <p>CATEGORY</p>
                        <p>COUNTRY</p>
                    </div>
                    <button>SEE THE TIPS</button>
                </div>
            </div>
            <!------end of SMALL TIPS CARD-------->
            <div class="rectangle-3D-tips">
                <div class="carre-3D-tips">
                    <div class="cercle-tips"></div>
                    <div style="margin-top:-30%">
                        <p>USER</p>
                        <p>CATEGORY</p>
                        <p>COUNTRY</p>
                    </div>
                </div>
            </div>
            <!------end of SMALL TIPS CARD-------->
            <div class="rectangle-3D-tips">
                <div class="carre-3D-tips">
                    <div class="cercle-tips"></div>
                    <div style="margin-top:-30%">
                        <p>USER</p>
                        <p>CATEGORY</p>
                        <p>COUNTRY</p>
                    </div>
                </div>
            </div>
            <!------end of SMALL TIPS CARD-------->
            <div class="rectangle-3D-tips">
                <div class="carre-3D-tips">
                    <div class="cercle-tips"></div>
                    <div style="margin-top:-30%">
                        <p>USER</p>
                        <p>CATEGORY</p>
                        <p>COUNTRY</p>
                    </div>
                </div>
            </div>
            <!------end of SMALL TIPS CARD-------->
            <div class="rectangle-3D-tips">
                <div class="carre-3D-tips">
                    <div class="cercle-tips"></div>
                    <div style="margin-top:-30%">
                        <p>USER</p>
                        <p>CATEGORY</p>
                        <p>COUNTRY</p>
                    </div>
                </div>
            </div>
        </div>
        <!------end of SMALL TIPS PART-------->
{% endblock %}
