{% extends 'base.html.twig' %}

{% block title %}Tips index{% endblock %}

{% block body %}
    <div class="tt-container-titleTipsIndex">
    <img src="{{ asset('assets/images/allTips.png') }}" class="tt-tipsIndex">
    </div>
    <section class="allTips-container">
        {% for tip in tips %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ tip.title }}</h5>
                    <p class="card-text">{{ tip.text }}</p>
                    <a href="{{ path('app_tips_show', {'id': tip.id}) }}" class="btn btn-primary">GO !</a>
                </div>
            </div>
        {% else %}
                <p>no records found</p>
        {% endfor %}
    </section>
{% endblock %}
