{% extends 'base.html.twig' %}

{% block title %}Tips{% endblock %}

{% block body %}
    <h1 class="tt-titleOneTips">{{ tip.title }}</h1>
    <section class="tt-container-oneTips">
        <div class="tt-tipsRow">
            <img class="tt-img-tips" src="/assets/images/tips/{{ tip.imageName }}">
        <div class="tt-container-textOneTips">
            {{ tip.text }}
        </div>
        </div>

    </section>

    <a href="{{ referer }}">back to the back page</a>
{% endblock %}
