{% extends 'base.html.twig' %}

{% block title %}Tips{% endblock %}

{% block body %}
    <section class="tt-container-oneTips">
        <h1 class="tt-titleOneTips">{{ tip.title }}</h1>
        <div class="tt-tipsRow">
        <div class="tt-container-pictureOneTips">
            {{ tip.picture }}
        </div>
        <div class="tt-container-textOneTips">
            {{ tip.text }}
        </div>
        </div>
    </section>

    <a href="{{ path('app_tips_index') }}">back to all TIPS</a>
{% endblock %}
